streamlit
pandas
nba_api
langchain
langchain-community
langchain-core
langchain-classic
langchain-huggingface
langchain-groq
langchain-experimental
chromadb>=0.5.0
pydantic-settings
sentence-transformers
tabulate
requests
